<h3>Add new Stock</h3>

<form #form="ngForm" mat-dialog-content id="ngForm" (ngSubmit)="addStockClick()">
    <p>Please add necesarry inforamtion</p>
    <mat-form-field>
        <input matInput name="Name" [(ngModel)]="new_stock.name" placeholder="Name" #nameNgModel="ngModel" required>
        <mat-error *ngIf="!nameNgModel?.valid && (nameNgModel?.dirty || nameNgModel?.touched)">
            Name must not be empty
        </mat-error>
    </mat-form-field>

    <mat-form-field class="space-top">
        <input matInput name="Ticker" [(ngModel)]="new_stock.ticker" placeholder="Ticker" #tickerNgModel="ngModel" required>
        <mat-error *ngIf="!tickerNgModel?.valid && (tickerNgModel?.dirty || tickerNgModel?.touched)">
            Ticker must not be empty
        </mat-error>
    </mat-form-field>
        
    <mat-form-field class="space-top">
        <input matInput name="Price" [(ngModel)]="new_stock.price" placeholder="Price" #priceNgModel="ngModel" appPriceValidator required>
        <mat-error *ngIf="!priceNgModel?.valid && (priceNgModel?.dirty || priceNgModel?.touched)">
            Price must be greater than 10
        </mat-error>
    </mat-form-field>
</form>

<div mat-dialog-actions>
    <button class="mat-raised-button" style="margin-right: 1em;" (click)="onNoClick()">No Thanks</button>
    <button class="mat-raised-button" type="submit" form="ngForm" [disabled]="form.invalid">Ok</button>
</div>