.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#sidenav-button {
    margin-left: 1em;
    margin-top: 1em;
}

#logout {
    position: absolute;
    left: 2em;
    bottom: 0;
    margin-bottom: 1em;
}

#sidenav {
    width: 10%;
}

a {
    margin-left: 1.5em;
}
