// TODO: this can probably be deleted
<nav>
    <a routerLink="/login">Login</a>
    <a routerLink="/home">Home</a>
</nav>


<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" id="sidenav">
        <nav>
            <a class="nav-link" routerLink="/signup">Signup</a>
            <a class="nav-link" routerLink="/login">Login</a>
            <a class="nav-link" routerLink="/home">Home</a>
            <a class="nav-link" routerLink="/login" (click)="logout()" id="logout">Logout</a>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-raised-button color="accent" (click)="sidenav.toggle()" id="sidenav-button"> Pages </button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
